.login_Container {
	width: 100%;
	position: relative;
	top: 200px;
	margin-left: 120px;
}


.login_Area {
	width: 350px;
	height: 250px;
	margin-left: 60px;
	background-color: #37a6f5;
	border-radius: 6px;
}

.user_and_Pass {
	position: relative;
	top: 100px;
	margin-left: 15%;
}

.sign_in_btn {
	position: relative;
	top: 110px;
	margin-left: 135px;

}

.customer_Container {
	display: none;
}