.user_login_Container {
	width: 100%;
	position: relative;
	top: 200px;
	margin-left: 120px;
	
}


.login_Area {
	width: 350px;
	height: 250px;
	margin-left: 60px;
	background-color: #37a6f5;
	border-radius: 6px;
	display: none;
}

.register_Area {
	width: 350px;
	height: 250px;
	margin-left: 60px;
	background-color: #24C0EB;
	border-radius: 6px;
	/*display: none;*/
	
}

.user_and_Pass, .register_User {
	position: relative;
	top: 100px;
	margin-left: 15%;
}

.register_User {
	position: relative;
	top: 50px;
	margin-left: 15%;
}

.reg_Btn {
position: relative;
top: 80px;
margin-left: 35%;
 }

.sign_in_btn,  {
	position: relative;
	top: 110px;
	margin-left: 135px;
}


.firstname, .lastname, .regUsr, .regPwd{
border: 2px solid #03E9C3;
border-radius: 5px;
margin: 3px 3px;
}

.red_invalid_Entry {
border: 2px solid #F33535;
border-radius: 5px;
}


/* Customer Login Area */

.customer_container {
	width: 100%;
	position: relative;
	top: 220px;
	margin-left: 120px;
	display: none;
}

.customer_data_area {
	width: 350px;
	height: 300px;
	margin-left: 60px;
	background-color: #0A5E7F;
	border-radius: 6px;
}

.c_info {
	margin-left: 55px;
	padding-top: 15px;
}
